#list1{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: #5d5858;
    color: white;
    padding: 15px;
    transition: top 0.3s;
    z-index: 1000;
}
#list2{
    display: flex;
    margin-left: 650px;
    position: fixed;
}
#list1>h3{
    font-size: 20px;
    font-weight: bold;
    position: fixed;
}
#list2>h3{
    margin-left: 70px;
    font-size: 20px;
    font-weight: 200;
}
#list1>h3:hover{
    cursor: pointer;
}
#list2>h3:hover{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    font-style: italic;
    color: black;
    cursor: pointer;
}
#image{
    height: 700px;
    width: 650px;
    border-radius: 200px;
    margin-top: 25px;
}
#image1{
    height: 700px;
    width: 650px;
    border-radius: 200px;
    margin-top: 25px;
}
#hr{
    width: 100px;
    margin-left: 1px;
}
#name{
    font-size: 120px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0px;
}
#passion{
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    color: #758398;
    margin-top: 0px;
}
#h2{
    color: #758398;
    margin-top: 90px;
}
#mail{
    margin-top: 100px;
    font-weight: 200;
    display: flex;
}
#number{
    font-weight: 200;
    display: flex;
}
.icon{
    font-size: 29px;
    display: flex;
}
#mail1{
    margin-left: 15px;
    margin-bottom: 0px;
}
#mail1:hover{
    color: #0376a8f0;
    cursor: pointer;
}
#number1{
    margin-left: 15px;
}
#number1:hover{
    color: #0376a8f0;
    cursor: pointer;
}
.about{
    font-size: 150px;
    font-weight: 200;
    font-style: oblique;
    margin-left: 100px;
    margin-top: 200px;
}
.about:hover{
    color: rgb(2, 116, 88);
    cursor: pointer;
}
.about1{
    font-size: 50px;
    font-weight: 200;
    font-style: oblique;
    margin-left: 100px;
}
.about1:hover{
    color: rgb(40, 90, 141);
    cursor: pointer;
}
.about2{
    font-size: 25px;
    font-weight: 100;
    font-style: italic;
    margin-left: 200px;
    margin-right: 150px;
    line-height: 2.0;
}
.skilllogo{
    height: 250px;
    width: 250px;
    border-radius: 150px;
    margin-left: 25px;
}
.logo1{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}
.logo2{
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 15px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.h1{
    font-size: 35px;
    text-align: center;
    font-style: italic;
}
.skill{
    font-size: 35px;
    text-align: center;
    font-style: italic;
}
.project{
    font-size: 35px;
    text-align: center;
    font-style: italic;
}
.contact{
    font-size: 35px;
    text-align: center;
    font-style: italic;
}
.h2{
    text-align: center;
    font-style: italic;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
}
.h21{
    font-style: italic;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
}
.h3{
    text-align: center;
    font-style: italic;
    font-size: 25px;
    font-weight: 300;
    line-height: 2.0;
    margin-left: 10px;
    margin-right: 10px;
}
.list{
    margin-left: 680px;
    font-size: 25px;
    font-style: italic;
    line-height: 2.6;
}
.list1{
    margin-left: 380px;
    font-size: 25px;
    font-style: italic;
    line-height: 2.6;
}
.border{
    border: 5px solid black;
    border-radius: 20px;
}
#input{
    margin-left: 215px;
}
#button{
    margin-top: 25px;
    margin-left: 290px;
}
.contactimage{
    height: 800px;
    width: 650px;
}
@media screen and (max-width: 480px)
{
      #list1>h3{
        font-size: 25px;
        margin-left: 15px;
        display: block;
      }
      #list2{
        margin-left: 30px;
        display: block;
        padding-top: 70px;
      }
      #list2>h3{
        display: block;
      }
      #list1{
        width: 200%;
        height: 35%;
        border-radius: 15px;
      
      }
      #h2{
        margin-top: 350px;
        font-size: 35px;
      }
      #name{
        font-size: 105px;
        margin-top: 10px;
      }
      #image{
        height: 250px;
        width: 250px;
        margin-left: 65px;
        margin-top: 20px;
        border-radius: 50px;
      }
      #image1{
        height: 250px;
        width: 250px;
        margin-left: 60px;
        margin-top: 300px;
        border-radius: 50px;
      }
      .h21{
        margin-left: 120px;
      }
      #mail1{
        font-size: 25px;
      }
      #number1{
        font-size: 25px;
      }
      .about{
        display: none;
      }
      .about2{
        font-size: 35px;
        margin-left: 35px;
        margin-right: 0px;
        padding-left: 0px;
        line-height: normal;
      }
      .list1{
        margin: 0px;
      }
      .skill{
        margin-top: 420px;
        padding-right: 10px;
      }
      .logo1{
        display: inline-block;
        grid-template-columns: repeat(1);
      }
      .logo2{
        padding: 0%;
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 245px;
      }
      .skilllogo{
        padding-top: 20px;
        padding-left: 0px;
      }
      .project{
        margin-top: 280px;
      }
      .list{
        margin: 0%;
        padding-left: 145px;
      }
      .contactimage{
        margin-top: 250px;
        height: 350px;
        width: 350px;
      }
      #input{
        margin-left: 75px;
      }
      #button{
        margin-left: 150px;
      }

}